**Умова:**

Використовуючи датасет з файлу communities.csv, виконайте нормалізацію даних. Визначте найкращий метод для нормалізації даних даного набору даних.

**1. Завантаження датасету та відображення декількох рядків датасету для зразку.**

In [19]:
import pandas as pd

df = pd.read_csv('communities.csv')
df.head(10)

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.0,?,0.67
1,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.0,?,0.43
2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.0,?,0.12
3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.0,?,0.03
4,6,?,?,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,?,?,?,?,0.0,?,0.14
5,44,7,41500,Lincolntown,1,0.01,0.39,0.00,0.98,0.06,...,0.05,0.08,0.06,?,?,?,?,0.0,?,0.03
6,6,?,?,Selmacity,1,0.01,0.74,0.03,0.46,0.20,...,0.01,0.33,0.00,?,?,?,?,0.0,?,0.55
7,21,?,?,Hendersoncity,1,0.03,0.34,0.20,0.84,0.02,...,0.04,0.17,0.04,?,?,?,?,0.0,?,0.53
8,29,?,?,Claytoncity,1,0.01,0.40,0.06,0.87,0.30,...,0.00,0.47,0.11,?,?,?,?,0.0,?,0.15
9,6,?,?,DalyCitycity,1,0.13,0.71,0.15,0.07,1.00,...,0.02,1.00,1.00,?,?,?,?,0.0,?,0.24

**2. Замінимо всі данні зі знаком питання на Nan.**

In [20]:
import numpy as np

df = df.replace('?', np.nan)
df

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
1,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03
4,6,NaN,NaN,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,NaN,NaN,NaN,NaN,0.00,NaN,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,NaN,NaN,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,NaN,NaN,NaN,NaN,0.00,NaN,0.09
1989,6,NaN,NaN,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,NaN,NaN,NaN,NaN,0.00,NaN,0.45
1990,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1991,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1992,6,NaN,NaN,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

**3. Видалимо всі колонки, де зустрічаються Nan**

In [21]:
df = df.dropna(axis=1, how='any')
df

,8,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,0.17,0.34,...,0.12.1,0.42,0.5.1,0.51.1,0.64,0.12.2,0.26.1,0.2.1,0.32.2,0.2.2
0,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,6,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,6,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,9,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,25,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,6,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

**4. Видалимо колонки з нечисловими даними.**

In [22]:
df = df.drop(columns=df.select_dtypes(exclude=['float64', 'int64']).columns)
df

,8,1,0.19,0.33,0.02,0.9,0.12,0.17,0.34,0.47,...,0.12.1,0.42,0.5.1,0.51.1,0.64,0.12.2,0.26.1,0.2.1,0.32.2,0.2.2
0,53,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,24,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,34,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,42,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,6,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,0.48,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,0.51,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,6,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,0.86,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,9,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,0.50,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,25,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,0.74,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,6,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,0.62,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

**5. Визначимо останній стовпчик датасету як цільовий та знайдемо найбільш зкорельовану з ним частину датасету.**

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()

X = df.drop(df.columns[-1:], axis=1)
y = lab.fit_transform(df.iloc[:, -1:])

rf = RandomForestClassifier()
rf.fit(X, y)
importances = rf.feature_importances_

importances

C:\users\админ\appdata\local\programs\python\python311\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0.00910003, 0.00816735, 0.00803775, 0.00975759, 0.01191278,
       0.01521863, 0.00935966, 0.00853389, 0.01006323, 0.01047272,
       0.01037317, 0.01054261, 0.00700935, 0.00308169, 0.00928299,
       0.009995  , 0.01291947, 0.01070522, 0.00969581, 0.01065635,
       0.0119956 , 0.00888722, 0.00821143, 0.00943181, 0.01128717,
       0.01129404, 0.0123828 , 0.0117776 , 0.00720028, 0.01050009,
       0.01041661, 0.01013919, 0.01011564, 0.01095866, 0.00967753,
       0.01176732, 0.01181761, 0.01050282, 0.01087855, 0.011885  ,
       0.01027742, 0.01348527, 0.01195146, 0.00843687, 0.01365957,
       0.01336575, 0.01179454, 0.01220646, 0.01190732, 0.01236086,
       0.00761228, 0.01309811, 0.0050559 , 0.01008196, 0.01019294,
       0.01045531, 0.01031248, 0.00803026, 0.00841246, 0.00829614,
       0.00752008, 0.00906085, 0.00880514, 0.00956291, 0.00926349,
       0.00962908, 0.00924432, 0.01048441, 0.01050415, 0.01047726,
       0.0117298 , 0.00197562, 0.00806755, 0.01086066, 0.01043194,
       0.01129481, 0.01110814, 0.00960767, 0.00932117, 0.01223515,
       0.00851508, 0.0081264 , 0.00839829, 0.00953818, 0.00924757,
       0.00931515, 0.01020936, 0.0120108 , 0.01112487, 0.01148251,
       0.00524395, 0.00404622, 0.00809851, 0.01041467, 0.01090346,
       0.01115639, 0.01113068, 0.00886921, 0.01141185, 0.0100126 ,
       0.00255445])

***Робимо висновок, що датасет не має зкорельованих ознак із цільовими даними, тому будемо використовувати всі ознаки.***

**6. Сформуємо тестовий та тренувальний датасети та побудуємо модель множинної регресії.**

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

lr = LinearRegression()
lr.fit(X_train, y_train)

print("Якість моделі лінійної регресії на тестовому наборі: {:.4f}".format(lr.score(X_test, y_test)))

Якість моделі лінійної регресії на тестовому наборі: 0.6369

**7. Проведемо L1 регулярізацію моделі.**

In [72]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001).fit(X_train, y_train)

print("Якість моделі з регулярізацією L1 на тестовому наборі: {:.4f}".format(lasso.score(X_test, y_test)))

Якість моделі з регулярізацією L1 на тестовому наборі: 0.6379

C:\users\админ\appdata\local\programs\python\python311\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.938e+03, tolerance: 7.713e+01
  model = cd_fast.enet_coordinate_descent(

**8. Проведемо L2 регулярізацію моделі.**

In [86]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.1).fit(X_train, y_train)

print("Якість моделі з регулярізацією L2 на тестовому наборі: {:.4f}".format(ridge.score(X_test, y_test)))

Якість моделі з регулярізацією L2 на тестовому наборі: 0.6376

**9. Проведемо L1 + L2 регулярізацію моделі.**

In [95]:
from sklearn.linear_model import ElasticNet

elastic = ElasticNet(alpha=0.0001, l1_ratio=.1).fit(X_train, y_train)

print("Якість моделі з регулярізацією L1 + L2 на тестовому наборі: {:.4f}".format(elastic.score(X_test, y_test)))

Якість моделі з регулярізацією L1 + L2 на тестовому наборі: 0.6376

C:\users\админ\appdata\local\programs\python\python311\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.934e+03, tolerance: 7.713e+01
  model = cd_fast.enet_coordinate_descent(

***Зміни параметрів всіх типів регулярізації на якість моделі лінійної регресії не вплинули; всі моделі виявилися досить низької якості. На мою думку, це перед усім пояснюється самим характером даних.***